.panel {
  grid-row: 3/5;
  grid-column: 2/12;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: repeat(2, 1fr);

  .cityForm {
    grid-row: 1;
    grid-column: 1/2;
    border-radius: 20px;
    text-transform: capitalize;
    margin: 5px;
    padding-left: 5px;
  }

  .currentPhase {
    grid-row: 1;
    grid-column: 2/3;
    border: none;
    border-radius: 0px 0px 20px 20px;
    background-color: #1d3752;
    box-shadow: $shadowBox;
    padding: 4%;

    h3 {
      font-size: $fontH3;
      font-weight: normal;
      text-align: center;
      color: $colorBgDefault;
    }
  }

  .container {
    padding-top: 10%;
    grid-column: 1/3;
  }
}
